.header {
  position: fixed;
  inset: 0 0 0 0;
  height: 13vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  transition: background-color 300ms;
}

.header_scroll {
  position: fixed;
  inset: 0 0 0 0;
  height: 13vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  background-color: #1f1f1f;
  opacity: 0.7;
  transition: background-color 300ms;
}

.logo {
  height: 12vh;
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin: 0 50px;
  padding: 0;
  height: 12vh;
  width: 50%;
}

.menu nav {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.menu ul {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu li {
  padding: 10px 20px;
  list-style-type: none;
  cursor: pointer;
}

.menu a {
  color: #fff;
  text-decoration: none;
  transition: 300ms;
}
.menu a:hover {
  color: #ffd300;
}
