.footer {
  height: 30vh;
  width: 100%;
  background: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  height: 4vh;
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
